:root {
	--waline-font-size: 1rem;
	--waline-white: #fff;
	--waline-light-grey: #999;
	--waline-dark-grey: #666;
	--waline-theme-color: #27ae60;
	--waline-active-color: #2ecc71;
	--waline-color: #444;
	--waline-bgcolor: #fff;
	--waline-bgcolor-light: #f8f8f8;
	--waline-bgcolor-hover: #f0f0f0;
	--waline-border-color: #ddd;
	--waline-disable-bgcolor: #f8f8f8;
	--waline-disable-color: #000;
	--waline-code-bgcolor: #282c34;
	--waline-bq-color: #f0f0f0;
	--waline-avatar-size: 3.25rem;
	--waline-m-avatar-size: calc(var(--waline-avatar-size) * 9 / 13);
	--waline-badge-color: #3498db;
	--waline-badge-font-size: 0.75em;
	--waline-info-bgcolor: #f8f8f8;
	--waline-info-color: #999;
	--waline-info-font-size: 0.625em;
	--waline-border: 1px solid var(--waline-border-color);
	--waline-avatar-radius: 50%;
	--waline-box-shadow: none
}

[data-waline] {
	font-size: var(--waline-font-size);
	text-align: left
}

[data-waline] * {
	box-sizing: content-box;
	line-height: 1.75
}

[data-waline] p {
	color: var(--waline-color)
}

[data-waline] a {
	position: relative;
	display: inline-block;
	color: var(--waline-theme-color);
	text-decoration: none;
	word-break: break-word;
	cursor: pointer
}

[data-waline] a:hover {
	color: var(--waline-active-color)
}

[data-waline] img {
	max-width: 100%;
	max-height: 400px;
	border: none
}

[data-waline] hr {
	margin: .825em 0;
	border-style: dashed;
	border-color: var(--waline-bgcolor-light)
}

[data-waline] code, [data-waline] pre {
	margin: 0;
	padding: .2em .4em;
	border-radius: 3px;
	background: var(--waline-bgcolor-light);
	font-size: 85%
}

[data-waline] pre {
	overflow: auto;
	padding: 10px;
	line-height: 1.45
}

[data-waline] pre::-webkit-scrollbar {
	width: 6px;
	height: 6px
}

[data-waline] pre::-webkit-scrollbar-track-piece:horizontal {
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: rgba(0, 0, 0, .1)
}

[data-waline] pre::-webkit-scrollbar-thumb:horizontal {
	width: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: var(--waline-theme-color)
}

[data-waline] pre code {
	padding: 0;
	background: rgba(0, 0, 0, 0);
	color: var(--waline-color);
	white-space: pre-wrap;
	word-break: keep-all
}

[data-waline] blockquote {
	margin: .5em 0;
	padding: .5em 0 .5em 1em;
	border-left: 8px solid var(--waline-bq-color);
	color: var(--waline-dark-grey)
}

[data-waline] blockquote > p {
	margin: 0
}

[data-waline] ol, [data-waline] ul {
	margin-left: 1.25em;
	padding: 0
}

[data-waline] input[type=checkbox], [data-waline] input[type=radio] {
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px
}

.wl-btn {
	display: inline-block;
	vertical-align: middle;
	min-width: 2.5em;
	margin-bottom: 0;
	padding: .5em 1em;
	border: 1px solid var(--waline-border-color);
	border-radius: .5em;
	background: rgba(0, 0, 0, 0);
	color: var(--waline-color);
	font-weight: 400;
	font-size: .75em;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	transition-duration: .4s;
	touch-action: manipulation
}

.wl-btn:hover, .wl-btn:active {
	border-color: var(--waline-theme-color);
	color: var(--waline-theme-color)
}

.wl-btn:disabled {
	border-color: var(--waline-border-color);
	background: var(--waline-disable-bgcolor);
	color: var(--waline-disable-color);
	cursor: not-allowed
}

.wl-btn.primary {
	border-color: var(--waline-theme-color);
	background: var(--waline-theme-color);
	color: var(--waline-white)
}

.wl-btn.primary:hover, .wl-btn.primary:active {
	border-color: var(--waline-active-color);
	background: var(--waline-active-color);
	color: var(--waline-white)
}

.wl-btn.primary:disabled {
	border-color: var(--waline-border-color);
	background: var(--waline-disable-bgcolor);
	color: var(--waline-disable-color);
	cursor: not-allowed
}

.wl-loading {
	text-align: center
}

.wl-loading svg {
	margin: 0 auto
}

.wl-comment {
	position: relative;
	display: flex;
	margin-bottom: .75em
}

.wl-close {
	position: absolute;
	top: -4px;
	right: -4px;
	padding: 0;
	border: none;
	background: rgba(0, 0, 0, 0);
	line-height: 1;
	cursor: pointer
}

.wl-login-info {
	max-width: 80px;
	margin-top: .75em;
	text-align: center
}

.wl-logout-btn {
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 3px;
	border: none;
	background: rgba(0, 0, 0, 0);
	line-height: 0;
	cursor: pointer
}

.wl-avatar {
	position: relative;
	width: var(--waline-avatar-size);
	height: var(--waline-avatar-size);
	margin: 0 auto;
	border: var(--waline-border);
	border-radius: var(--waline-avatar-radius)
}

@media (max-width: 720px) {
	.wl-avatar {
		width: var(--waline-m-avatar-size);
		height: var(--waline-m-avatar-size)
	}
}

.wl-avatar img {
	width: 100%;
	height: 100%;
	border-radius: var(--waline-avatar-radius)
}

.wl-login-nick {
	display: block;
	color: var(--waline-theme-color);
	font-size: .75em;
	word-break: break-all
}

.wl-panel {
	position: relative;
	flex-shrink: 1;
	width: 100%;
	margin: .5em;
	border: var(--waline-border);
	border-radius: .75em;
	background: var(--waline-bgcolor);
	box-shadow: var(--waline-box-shadow)
}

.wl-header {
	display: flex;
	overflow: hidden;
	padding: 0 4px;
	border-bottom: 2px dashed var(--waline-border-color);
	border-top-left-radius: .75em;
	border-top-right-radius: .75em
}

@media (max-width: 580px) {
	.wl-header {
		display: block
	}
}

.wl-header label {
	min-width: 40px;
	padding: .75em .5em;
	color: var(--waline-color);
	font-size: .75em;
	text-align: center
}

.wl-header input {
	flex: 1;
	width: 0;
	padding: .5em;
	background: rgba(0, 0, 0, 0);
	font-size: .625em;
	resize: none
}

.wl-header-item {
	display: flex;
	flex: 1
}

@media (max-width: 580px) {
	.wl-header-item:not(:last-child) {
		border-bottom: 2px dashed var(--waline-border-color)
	}
}

.wl-header-1 .wl-header-item {
	width: 100%
}

.wl-header-2 .wl-header-item {
	width: 50%
}

@media (max-width: 580px) {
	.wl-header-2 .wl-header-item {
		flex: 0;
		width: 100%
	}
}

.wl-header-3 .wl-header-item {
	width: 33.33%
}

@media (max-width: 580px) {
	.wl-header-3 .wl-header-item {
		width: 100%
	}
}

.wl-editor, .wl-input {
	max-width: 100%;
	border: none;
	color: var(--waline-color);
	outline: none;
	transition: all .25s ease
}

.wl-editor:focus, .wl-input:focus {
	background: var(--waline-bgcolor-light)
}

.wl-editor {
	position: relative;
	width: calc(100% - 1em);
	min-height: 8.75em;
	margin: .75em .5em;
	border-radius: .5em;
	background: rgba(0, 0, 0, 0);
	font-size: .875em;
	resize: vertical
}

.wl-preview {
	padding: 0 .5em .5em
}

.wl-preview h4 {
	margin: .25em;
	font-weight: bold;
	font-size: .9375em
}

.wl-preview .wl-content {
	min-height: 1.25em;
	padding: .25em;
	word-break: break-word;
	hyphens: auto
}

.wl-preview .wl-content > *:first-child {
	margin-top: 0
}

.wl-preview .wl-content > *:last-child {
	margin-bottom: 0
}

.wl-footer {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: .5em .75em
}

.wl-actions {
	display: flex;
	flex: 2;
	align-items: center
}

.wl-action {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 1.5em;
	height: 1.5em;
	margin: 2px;
	padding: 0;
	border: none;
	background: rgba(0, 0, 0, 0);
	color: var(--waline-color);
	font-size: 16px;
	cursor: pointer
}

.wl-action:hover {
	color: var(--waline-theme-color)
}

.wl-action.actived {
	color: var(--waline-active-color)
}

#wl-image-upload {
	display: none
}

#wl-image-upload:focus + label {
	color: var(--waline-color)
}

#wl-image-upload:focus-visible + label {
	outline: -webkit-focus-ring-color auto 1px
}

.wl-info {
	display: flex;
	flex: 3;
	align-items: center;
	justify-content: flex-end
}

.wl-info .wl-text-number {
	color: var(--waline-info-color);
	font-size: .75em
}

.wl-info .wl-text-number .illegal {
	color: red
}

.wl-info button {
	margin-left: .75em
}

.wl-info button svg {
	display: block;
	margin: 0 auto;
	line-height: 18px
}

.wl-emoji-popup {
	position: absolute;
	top: 100%;
	left: 1.25em;
	z-index: 10;
	max-width: 526px;
	border: var(--waline-border);
	border-radius: 6px;
	background: var(--waline-bgcolor);
	box-shadow: var(--waline-box-shadow);
	opacity: 0;
	visibility: hidden;
	transition: transform .2s ease-out, opacity .2s ease-out;
	transform: scale(0.9, 0.9);
	transform-origin: 0 0
}

.wl-emoji-popup.display {
	opacity: 1;
	visibility: visible;
	transform: none
}

.wl-emoji-popup button {
	display: inline-block;
	vertical-align: middle;
	width: 2em;
	margin: .125em;
	padding: 0;
	border-width: 0;
	background: rgba(0, 0, 0, 0);
	font-size: inherit;
	line-height: 2;
	text-align: center;
	cursor: pointer
}

.wl-emoji-popup button:hover {
	background: var(--waline-bgcolor-hover)
}

.wl-emoji-popup .wl-emoji {
	display: inline-block;
	vertical-align: middle;
	max-width: 1.5em;
	max-height: 1.5em
}

.wl-emoji-popup .wl-tab-wrapper {
	overflow-y: auto;
	max-height: 145px;
	padding: .5em
}

.wl-emoji-popup .wl-tab-wrapper::-webkit-scrollbar {
	width: 6px;
	height: 6px
}

.wl-emoji-popup .wl-tab-wrapper::-webkit-scrollbar-track-piece:vertical {
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: rgba(0, 0, 0, .1)
}

.wl-emoji-popup .wl-tab-wrapper::-webkit-scrollbar-thumb:vertical {
	width: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: var(--waline-theme-color)
}

.wl-emoji-popup .wl-tabs {
	position: relative;
	height: 2em;
	padding: 0 6px 1px
}

.wl-emoji-popup .wl-tabs::before {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
	height: 1px;
	background: var(--waline-border-color)
}

.wl-emoji-popup .wl-tab {
	position: relative;
	margin: 0;
	padding: 0 .5em
}

.wl-emoji-popup .wl-tab.active {
	z-index: 3;
	border: 1px solid var(--waline-border-color);
	border-top-width: 0;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	background: var(--waline-bgcolor)
}

.wl-gif-popup {
	position: absolute;
	top: 100%;
	left: 1.25em;
	z-index: 10;
	width: calc(100% - 3em);
	padding: .75em .75em .25em;
	border: var(--waline-border);
	border-radius: 6px;
	background: var(--waline-bgcolor);
	box-shadow: var(--waline-box-shadow);
	opacity: 0;
	visibility: hidden;
	transition: transform .2s ease-out, opacity .2s ease-out;
	transform: scale(0.9, 0.9);
	transform-origin: 0 0
}

.wl-gif-popup.display {
	opacity: 1;
	visibility: visible;
	transform: none
}

.wl-gif-popup input {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 10px;
	padding: 3px 5px;
	border: var(--waline-border)
}

.wl-gif-popup img {
	display: block;
	box-sizing: border-box;
	width: 100%;
	border-width: 2px;
	border-style: solid;
	border-color: #fff;
	cursor: pointer
}

.wl-gif-popup img:hover {
	border-color: var(--waline-theme-color);
	border-radius: 2px
}

.wl-gallery {
	max-height: 80vh;
	display: flex;
	overflow-y: auto
}

.wl-gallery-column {
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
	flex: 1;
	display: flex;
	flex-direction: column
}

.wl-cards .wl-item {
	position: relative;
	display: flex;
	padding: .5em
}

.wl-cards .wl-item:last-child .wl-card {
	border-bottom: none
}

.wl-cards .wl-card .wl-item {
	padding-right: 0
}

.wl-cards .wl-user {
	--avatar-size: var(--waline-avatar-size);
	position: relative;
	margin-right: .75em
}

@media (max-width: 720px) {
	.wl-cards .wl-user {
		--avatar-size: var(--waline-m-avatar-size)
	}
}

.wl-cards .wl-user img {
	width: var(--avatar-size);
	height: var(--avatar-size);
	border-radius: var(--waline-avatar-radius);
	box-shadow: var(--waline-box-shadow)
}

.wl-cards .wl-user .verified-icon {
	position: absolute;
	top: calc(var(--avatar-size) * 3 / 4);
	left: calc(var(--avatar-size) * 3 / 4);
	border-radius: 50%;
	background: var(--waline-bgcolor);
	box-shadow: var(--waline-box-shadow)
}

.wl-card {
	flex: 1;
	width: 0;
	padding-bottom: .5em;
	border-bottom: 1px dashed var(--waline-border-color)
}

.wl-card:first-child {
	margin-left: 1em
}

.wl-card .wl-head {
	line-height: 1.5
}

.wl-card .wl-nick {
	position: relative;
	display: inline-block;
	margin-right: .5em;
	font-weight: bold;
	font-size: .875em;
	line-height: 1;
	text-decoration: none
}

.wl-card .wl-nick svg {
	position: relative;
	bottom: -0.125em;
	line-height: 1
}

.wl-card span.wl-nick {
	color: var(--waline-dark-grey)
}

.wl-card .wl-badge {
	display: inline-block;
	margin-right: 1em;
	padding: 0 .3em;
	border: 1px solid var(--waline-badge-color);
	border-radius: 4px;
	color: var(--waline-badge-color);
	font-size: var(--waline-badge-font-size)
}

.wl-card .wl-time {
	margin-right: .875em;
	color: var(--waline-info-color);
	font-size: .75em
}

.wl-card .wl-meta {
	position: relative;
	line-height: 1
}

.wl-card .wl-meta > span {
	display: inline-block;
	margin-right: .25em;
	padding: 2px 4px;
	border-radius: .2em;
	background: var(--waline-info-bgcolor);
	color: var(--waline-info-color);
	font-size: var(--waline-info-font-size);
	line-height: 1.5
}

@media (max-width: 520px) {
	.wl-card .wl-meta > span {
		display: none
	}
}

.wl-card .wl-meta > span:empty {
	display: none
}

.wl-card .wl-comment-actions {
	float: right
}

.wl-card .wl-delete, .wl-card .wl-like, .wl-card .wl-reply {
	display: inline-flex;
	align-items: center;
	padding: 4px;
	border: none;
	background: rgba(0, 0, 0, 0);
	color: var(--waline-color);
	line-height: 1;
	cursor: pointer;
	transition: color .2s ease
}

.wl-card .wl-delete:hover, .wl-card .wl-like:hover, .wl-card .wl-reply:hover {
	color: var(--waline-theme-color)
}

.wl-card .wl-delete.active, .wl-card .wl-like.active, .wl-card .wl-reply.active {
	color: var(--waline-active-color)
}

.wl-card .wl-content {
	position: relative;
	margin-bottom: .75em;
	padding-top: .625em;
	font-size: .875em;
	line-height: 2;
	word-wrap: break-word
}

.wl-card .wl-content.expand {
	overflow: hidden;
	max-height: 8em;
	cursor: pointer
}

.wl-card .wl-content.expand::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 3.15em;
	left: 0;
	z-index: 999;
	display: block;
	width: 100%;
	background: linear-gradient(180deg, #000, rgba(255, 255, 255, 0.9))
}

.wl-card .wl-content.expand::after {
	content: attr(data-expand);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 999;
	display: block;
	width: 100%;
	height: 3.15em;
	background: rgba(255, 255, 255, .9);
	color: #828586;
	line-height: 3.15em;
	text-align: center
}

.wl-card .wl-content > *:first-child {
	margin-top: 0
}

.wl-card .wl-content > *:last-child {
	margin-bottom: 0
}

.wl-card .wl-admin-actions {
	margin: 8px 0;
	font-size: 12px;
	text-align: right
}

.wl-card .wl-comment-status {
	margin: 0 8px
}

.wl-card .wl-comment-status .wl-btn {
	border-radius: 0
}

.wl-card .wl-comment-status .wl-btn:first-child {
	border-radius: .5em 0 0 .5em
}

.wl-card .wl-comment-status .wl-btn:last-child {
	border-radius: 0 .5em .5em 0
}

.wl-card .wl-quote {
	border-left: 1px dashed rgba(237, 237, 237, .5)
}

.wl-card .wl-quote .wl-user {
	--avatar-size: var(--waline-m-avatar-size)
}

.wl-close-icon {
	color: var(--waline-border-color)
}

.wl-content .vemoji, .wl-content .wl-emoji {
	display: inline-block;
	vertical-align: baseline;
	height: 1.25em;
	margin: -0.125em .25em
}

.wl-content .wl-tex {
	background: var(--waline-info-bgcolor);
	color: var(--waline-info-color)
}

.wl-content span.wl-tex {
	display: inline-block;
	margin-right: .25em;
	padding: 2px 4px;
	border-radius: .2em;
	font-size: var(--waline-info-font-size);
	line-height: 1.5
}

.wl-content p.wl-tex {
	text-align: center
}

.wl-content .katex-display {
	overflow: auto hidden;
	-webkit-overflow-scrolling: touch;
	padding-top: .2em;
	padding-bottom: .2em
}

.wl-content .katex-display::-webkit-scrollbar {
	height: 3px
}

.wl-content .katex-error {
	color: red
}

.wl-count {
	padding: .375em;
	font-weight: bold;
	font-size: 1.25em
}

.wl-empty {
	overflow: auto;
	padding: 1.25em;
	color: var(--waline-color);
	text-align: center
}

.wl-operation {
	text-align: center
}

.wl-operation button {
	margin: 1em 0
}

.wl-power {
	padding: .5em 0;
	color: var(--waline-light-grey);
	font-size: var(--waline-info-font-size);
	text-align: right
}

.wl-content pre, .wl-content pre[class*=language-] {
	overflow: auto;
	margin: .75rem 0;
	padding: 1rem 1.25rem;
	border-radius: 6px;
	background: var(--waline-code-bgcolor);
	line-height: 1.4
}

.wl-content pre code, .wl-content pre[class*=language-] code {
	padding: 0;
	border-radius: 0;
	background: rgba(0, 0, 0, 0) !important;
	color: #bbb
}

.wl-content code[class*=language-], .wl-content pre[class*=language-] {
	background: none;
	color: #ccc;
	font-size: 1em;
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-wrap: normal;
	word-break: normal;
	tab-size: 4;
	hyphens: none
}

.wl-content pre[class*=language-] {
	overflow: auto
}

.wl-content :not(pre) > code[class*=language-], .wl-content pre[class*=language-] {
	background: #2d2d2d
}

.wl-content :not(pre) > code[class*=language-] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal
}

.wl-content .token.comment, .wl-content .token.block-comment, .wl-content .token.prolog, .wl-content .token.doctype, .wl-content .token.cdata {
	color: #999
}

.wl-content .token.punctuation {
	color: #ccc
}

.wl-content .token.tag, .wl-content .token.attr-name, .wl-content .token.namespace, .wl-content .token.deleted {
	color: #e2777a
}

.wl-content .token.function-name {
	color: #6196cc
}

.wl-content .token.boolean, .wl-content .token.number, .wl-content .token.function {
	color: #f08d49
}

.wl-content .token.property, .wl-content .token.class-name, .wl-content .token.constant, .wl-content .token.symbol {
	color: #f8c555
}

.wl-content .token.selector, .wl-content .token.important, .wl-content .token.atrule, .wl-content .token.keyword, .wl-content .token.builtin {
	color: #cc99cd
}

.wl-content .token.string, .wl-content .token.char, .wl-content .token.attr-value, .wl-content .token.regex, .wl-content .token.variable {
	color: #7ec699
}

.wl-content .token.operator, .wl-content .token.entity, .wl-content .token.url {
	color: #67cdcc
}

.wl-content .token.important, .wl-content .token.bold {
	font-weight: bold
}

.wl-content .token.italic {
	font-style: italic
}

.wl-content .token.entity {
	cursor: help
}

.wl-content .token.inserted {
	color: green
}

.wl-recent-item p {
	display: inline
}
